.topic {
  height: 150px;
  margin-top: 20px;
  .title{
    height: 40px;
    font-size: 17px;
    padding-bottom: 8px;
  }
  .summary {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    font-size: 15px;
    line-height: 178%; // 80 / 3 / 15 = 1.77777
    margin-bottom: 30px;
  }

  border-bottom: 1px solid rgba(115, 115, 115, 0.1);
}
